/** @format */
@import url("//fonts.googleapis.com/earlyaccess/droidarabickufi.css");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: white;
	height: 100%;
}

:root {
	--primaryColor: #5fb7ea;
	--orangePrimary: #fcb63e;
	--babyBlue: #f0f7fb;
	--mainBlue: #1e467d;
	--superBabyBlue: #f0f7fb;
}

@media (min-width: 950px) {
	.overAllSidebar {
		display: none;
	}
	.faaa-bars {
		display: none;
	}
}

@media (max-width: 900px) {
	.loginGoogle {
		font-size: 13px !important;
	}
}

.DarkbackgroundForSidebar {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	top: 50px;
	left: 0;
	position: fixed;
	z-index: 100;
	padding: 1000px;
}

.DarkbackgroundForSidebar2 {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	top: 90px;
	left: 0;
	position: fixed;
	z-index: 100;
	padding: 1000px;
}

.detailsAboutAppointment {
	font-weight: bold;
	font-size: 0.95rem;
	/* text-shadow: 1px 1px 4px; */
	color: #7a0909;
}

.blogImg {
	width: 159px;
	height: 79px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.imgForBlog {
	width: 159px;
	height: 79px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 50px;
	border-radius: 15px;
}

@keyframes inAnimation {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes outAnimation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
